body {
  margin: 0;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #a8d3d6;
  font-family: Arial, sans-serif;

  /* added by me  */
  overflow: hidden;
}

.wrapper {
  position: fixed;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  /* border-radius: 16px; */

  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;

  /* added by me  */
  overflow: hidden;
}

.card img {
  width: 80px;
  margin-top: 10px;
}

.card h2 {
  margin: 30px 0 10px;
  font-size: 28px;
}

.card p {
  text-align: center;
  color: #333;
}

.textOnPic {
  color: white;
  position: absolute;
  bottom: 13%;
  left: 10%;
}

.buttons {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  /* background: #e9f0f1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); */

  background: #ffffff; /* pure white */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); /* stronger shadow */

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.btn.dislike {
  color: #666; /* darker gray */
}

.btn.like {
  color: #e91e63; /* stronger pink */
}

/* addded  */
.card img {
  object-fit: cover;
  width: 100%;
  height: 97%;
  border-radius: 10px;
}

.card.remove {
  display: none;
}

.card.unremovable {
  display: block !important;
}

/* will add styles later  */
.grabbing {
  cursor: pointer;
}

.card {
  touch-action: none !important;
  transition: transform 0.7s linear;
}

.heart-overlay,
.nope-overlay {
  pointer-events: none;
  position: fixed; /* relative to viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
}

.show {
  opacity: 1;
}

/* .vertical-line {
  width: 1px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  pointer-events: none;
} */
